CompileFlags:
  Add:
    - -I/usr/local/cuda/include
    - -I/usr/local/cuda/include/cccl
    - -L/usr/local/cuda/lib64
    - --cuda-path=/usr/local/cuda
    - --cuda-gpu-arch=sm_89
  Remove:
    - -forward-unknown-to-host-compiler
    - --options-file
    - --generate-code=arch=compute_75,code=[compute_75,sm_75]
    - --generate-code=arch=compute_80,code=[compute_80,sm_80]
    - --generate-code=arch=compute_86,code=[compute_86,sm_86]
    - --generate-code=arch=compute_87,code=[compute_87,sm_87]
    - --generate-code=arch=compute_89,code=[compute_89,sm_89]
    - --generate-code=arch=compute_90,code=[compute_90,sm_90]
    - --generate-code=arch=compute_100,code=[compute_100,sm_100]
    - --generate-code=arch=compute_110,code=[compute_110,sm_110]
    - --generate-code=arch=compute_120,code=[compute_120,sm_120]
    - -Xcompiler=-fPIE
    - --extended-lambda
    - -rdc=true
